<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072229363531-b1lgkib9l5epbasgrgiii3ktp7heq461.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072229363531-b1lgkib9l5epbasgrgiii3ktp7heq461</string>
	<key>API_KEY</key>
	<string>AIzaSyAySvKWdZapIhaDQMB4GNskcVLWOI655Xw</string>
	<key>GCM_SENDER_ID</key>
	<string>1072229363531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dropeg.dropeg</string>
	<key>PROJECT_ID</key>
	<string>dropapp-ede3c</string>
	<key>STORAGE_BUCKET</key>
	<string>dropapp-ede3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072229363531:ios:0978a5090fe3c18c66c2ce</string>
</dict>
</plist>